@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Serif+SC:wght@400;600&display=swap");

:root {
  --vp-font-family-base: "Noto Serif SC", "Inter var experimental", "Inter var",
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --vp-font-family-mono: "JetBrains Mono", "Noto Serif SC", ui-monospace,
    SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

:root {
  /* 用 Logo 提取的主题色替换 VitePress 原主题绿色 */
  --vp-c-brand: #578bc4;
  --vp-c-brand-light: #6a9cd4;
  --vp-c-brand-lighter: #85b3e6;
  --vp-c-brand-lightest: #a1caf7;
  --vp-c-brand-dark: #3c6eab;
  --vp-c-brand-darker: #255794;
  --vp-c-brand-dimm: rgba(87, 136, 196, 0.16);
}

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #5788c4 30%,
    #f93236
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -5deg,
    #5788c4 50%,
    #f93236 50%
  );
  --vp-home-hero-image-filter: blur(80px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(100px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(120px);
  }
}

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

.content img {
  border-radius: 10px;
}
